<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
<style>
th {
  font-size:27px
}
h1 {
  font-size: 45px;
}
td {
  font-size: 25px;
}
</style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Currículo Engenharia Elétrica</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
</head>

<body>
<h1>Grade Curricular<br>Engenharia Eletrônica - CTC/UFSC</h1>
<table style="width:100%", class="tabela-espacada">  
  <tr >
    <th><input type="checkbox" onclick="carregarFase(1)"> 1º fase</th>
    <th><input type="checkbox" onclick="carregarFase(2)"> 2º fase</th>
    <th><input type="checkbox" onclick="carregarFase(3)"> 3º fase</th>
    <th><input type="checkbox" onclick="carregarFase(4)"> 4º fase</th>
    <th><input type="checkbox" onclick="carregarFase(5)"> 5º fase</th>
    <th><input type="checkbox" onclick="carregarFase(6)"> 6º fase</th>
    <th><input type="checkbox" onclick="carregarFase(7)"> 7º fase</th>
    <th><input type="checkbox" onclick="carregarFase(8)"> 8º fase</th>
    <th><input type="checkbox" onclick="carregarFase(9)"> 9º fase</th>
    <th><input type="checkbox" onclick="carregarFase(10)"> 10º fase</th>
  </tr>
  
  <tr><!--1 linha-->

    <tr><!--1 linha-->
      <td><button id="EEL7011" data-fase="1" onclick="selecionarEDisparar('EEL7011')">EEL7011 (2)<br>Laboratório de Eletricidade Básica</button></td>
      <td><button id="EGR5619" data-fase="2" onclick="selecionarEDisparar('EGR5619')">EGR5619 (4)<br>Desenho Técnico para Engenharia Elétrica</button></td>
      <td><button id="ECZ5102" data-fase="3" onclick="selecionarEDisparar('ECZ5102')">ECZ5102 (2)<br>Conservação de Recursos Naturais</button></td>
      <td><button id="EEL7030" data-fase="4" onclick="selecionarEDisparar('EEL7030')">EEL7030 (4)<br>Microprocessadores</button></td>
      <td><button id="EEL7051" data-fase="5" onclick="selecionarEDisparar('EEL7051')">EEL7051 (4)<br>Materiais Elétricos</button></td>
      <td><button id="EEL7062" data-fase="6" onclick="selecionarEDisparar('EEL7062')">EEL7062 (5)<br>Princípios de Sistemas de Comunicação</button></td>
      <td><button id="EEL7319" data-fase="7" onclick="selecionarEDisparar('EEL7319')">EEL7319 (4)<br>Circuitos RF</button></td>
      <td><button id="EEL7610" data-fase="8" onclick="selecionarEDisparar('EEL7610')">EEL7610 (3)<br>Tópico Especial em Gestão</button></td>
      <td><button id="EEL7805" data-fase="9" onclick="selecionarEDisparar('EEL7805')">EEL7805 (4)<br>Ante-Projeto TCC</button></td>
      <td><button id="EEL7806" data-fase="10" onclick="selecionarEDisparar('EEL7806')">EEL7806 (16)<br>Projeto Final TCC</button></td>
    </tr>
    
    <tr><!--2 linha-->
      <td><button id="EEL7014" data-fase="1" onclick="selecionarEDisparar('EEL7014')">EEL7014 (2)<br>Introdução às Engenharias Elétrica e Eletrônica</button></td>
      <td><button id="FSC5002" data-fase="2" onclick="selecionarEDisparar('FSC5002')">FSC5002 (4)<br>Física II</button></td>
      <td><button id="EEL5105" data-fase="3" onclick="selecionarEDisparar('EEL5105')">EEL5105 (5)<br>Circuitos e Técnicas Digitais</button></td>
      <td><button id="EEL7041" data-fase="4" onclick="selecionarEDisparar('EEL7041')">EEL7041 (4)<br>Eletromagnetismo</button></td>
      <td><button id="EEL7052" data-fase="5" onclick="selecionarEDisparar('EEL7052')">EEL7052 (5)<br>Sistemas Lineares</button></td>
      <td><button id="EEL7303" data-fase="6" onclick="selecionarEDisparar('EEL7303')">EEL7303 (5)<br>Circuitos Eletrônicos Analógicos</button></td>
      <td><button id="EEL7322" data-fase="7" onclick="selecionarEDisparar('EEL7322')">EEL7322 (4)<br>Dispositivos Eletrônico</button></td>
      <td><button id="opt_livre" data-fase="8" onclick="selecionarEDisparar('opt_livre')">Optativa Livre (4)</button></td>
      <td><button id="INE5407" data-fase="9" onclick="selecionarEDisparar('INE5407')">INE5407 (3)<br>Ciência, Tecnologia e Sociedade</button></td>
    </tr>
    
    <tr><!--3 linha-->
      <td><button id="FSC5101" data-fase="1" onclick="selecionarEDisparar('FSC5101')">FSC5101 (4)<br>Física I</button></td>
      <td><button id="FSC5122" data-fase="2" onclick="selecionarEDisparar('FSC5122')">FSC5122 (3)<br>Física Experimental I</button></td>
      <td><button id="EEL7013" data-fase="3" onclick="selecionarEDisparar('EEL7013')">EEL7013 (2)<br>Laboratório de Transdutores</button></td>
      <td><button id="EEL7045" data-fase="4" onclick="selecionarEDisparar('EEL7045')">EEL7045 (6)<br>Circuitos Elétricos A</button></td>
      <td><button id="EEL7053" data-fase="5" onclick="selecionarEDisparar('EEL7053')">EEL7053 (4)<br>Ondas Eletromagnéticas</button></td>
      <td><button id="EEL7522" data-fase="6" onclick="selecionarEDisparar('EEL7522')">EEL7522 (5)<br>Processamento Digital de Sinais</button></td>
      <td><button id="EEL7074" data-fase="7" onclick="selecionarEDisparar('EEL7074')">EEL7074 (5)<br>Fundamentos de Comunicação Digital</button></td>
      <td><button id="opt_prof1" data-fase="8" onclick="selecionarEDisparar('opt_prof1')">Optativas Profissionalizantes (16)</button></td>
      <td><button id="opt_prof2" data-fase="9" onclick="selecionarEDisparar('opt_prof2')">Optativas Profissionalizantes (12)</button></td>
    </tr>
    
    <tr><!--4 linha-->
      <td><button id="LLV7801" data-fase="1" onclick="selecionarEDisparar('LLV7801')">LLV7801 (4)<br>Produção Textual Acadêmica</button></td>
      <td><button id="INE5201" data-fase="2" onclick="selecionarEDisparar('INE5201')">INE5201 (3)<br>Introdução à Ciência da Computação</button></td>
      <td><button id="FSC5113" data-fase="3" onclick="selecionarEDisparar('FSC5113')">FSC5113 (4)<br>Física III</button></td>
      <td><button id="EPS7019" data-fase="4" onclick="selecionarEDisparar('EPS7019')">EPS7019 (3)<br>Engenharia Econômica</button></td>
      <td><button id="EEL7061" data-fase="5" onclick="selecionarEDisparar('EEL7061')">EEL7061 (6)<br>Eletrônica I</button></td>
      <td><button id="FSC5506" data-fase="6" onclick="selecionarEDisparar('FSC5506')">FSC5506 (6)<br>Estrutura da Matéria I</button></td>
      <td><button id="EEL7802" data-fase="7" onclick="selecionarEDisparar('EEL7802')">EEL7802 (3)<br>Projeto em Eletrônica II</button></td>
      <td></td>
      <td><button id="opt_livre2" data-fase="9" onclick="selecionarEDisparar('opt_livre2')">Optativa Livre (4)</button></td>
    </tr>
    
    <tr><!--5 linha-->
      <td><button id="MTM3100" data-fase="1" onclick="selecionarEDisparar('MTM3100')">MTM3100 (4)<br>Pré-Cálculo</button></td>
      <td><button id="MTM3102" data-fase="2" onclick="selecionarEDisparar('MTM3102')">MTM3102 (4)<br>Cálculo 2</button></td>
      <td><button id="INE5118" data-fase="3" onclick="selecionarEDisparar('INE5118')">INE5118 (4)<br>Probabilidade Estatística e Processos Estocásticos</button></td>
      <td><button id="FSC5114" data-fase="4" onclick="selecionarEDisparar('FSC5114')">FSC5114 (4)<br>Física IV</button></td>
      <td><button id="EEL7801" data-fase="5" onclick="selecionarEDisparar('EEL7801')">EEL7801 (3)<br>Projeto em Eletrônica I</button></td>
      <td><button id="INE5411" data-fase="6" onclick="selecionarEDisparar('INE5411')">INE5411 (6)<br>Organização de Computadores I</button></td>
      <td><button id="EEL7885" data-fase="7" onclick="selecionarEDisparar('EEL7885')">EEL7885 (4)<br>Fundamentos de Engenharia Biomédica</button></td>
    </tr>
    
    <tr><!--6 linha-->
      <td><button id="MTM3101" data-fase="1" onclick="selecionarEDisparar('MTM3101')">MTM3101 (4)<br>Cálculo 1</button></td>
      <td><button id="MTM3112" data-fase="2" onclick="selecionarEDisparar('MTM3112')">MTM3112 (4)<br>Álgebra Linear</button></td>
      <td><button id="INE5202" data-fase="3" onclick="selecionarEDisparar('INE5202')">INE5202 (4)<br>Cálculo Numérico em Computadores</button></td>
      <td><button id="MTM3104" data-fase="4" onclick="selecionarEDisparar('MTM3104')">MTM3104 (4)<br>Cálculo 4</button></td>
      <td><button id="INE5406" data-fase="5" onclick="selecionarEDisparar('INE5406')">INE5406 (5)<br>Sistemas Digitais</button></td>
      <td></td>
      <td><button id="opt_prof3" data-fase="7" onclick="selecionarEDisparar('opt_prof3')">Optativas Profissionalizantes</button></td>
    </tr>
    
    <tr><!--7 linha-->
      <td><button id="MTM3111" data-fase="1" onclick="selecionarEDisparar('MTM3111')">MTM3111 (4)<br>Geometria Analítica</button></td>
      <td></td>
      <td><button id="MTM3103" data-fase="3" onclick="selecionarEDisparar('MTM3103')">MTM3103 (4)<br>Cálculo 3</button></td>
    </tr>
    
    <tr><!--8 linha-->
      <td><button id="QMC5125" data-fase="1" onclick="selecionarEDisparar('QMC5125')">QMC5125 (2)<br>Química Geral Experimental A</button></td>
    </tr>
    
    <tr><!--9 linha-->
      <td><button id="QMC5138" data-fase="1" onclick="selecionarEDisparar('QMC5138')">QMC5138 (2)<br>Química Geral</button></td>
    </tr>
</table>

<script>

</script>
</body>
</html>
